<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="css/app.css" />
    <title>AngularJS Module I</title>
</head>
<body>
    <div ng-controller="LunchCheckController">
        <div>
            <span>Enter comma ',' seperated list of items. Please note empty items are NOT considered i.e., , , as an item towards to the count.</span>
            <input class="ipBox {{borderColor}}" type="text" ng-model="InputItems" />
        </div>
        <div>
            <button ng-click="checkItems();">CHECK IF TOO MUCH</button>
        </div>
        <div>
            <span>Message:  </span>
            <span class="{{textColor}}">{{ Message}}</span>
        </div>
    </div>
</body>
</html>
